body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #0077cc;
    color: white;
    text-align: center;
    padding: 30px;
}

section {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

h2 {
    color: #0077cc;
}

ul {
    list-style-type: square;
}